.def-nav-bar
{
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;

}
.value-item{
    padding-left: 10px;
    padding-right: 10px;

}
.wh-main{
    align-items: center;
    
}